
.cv-table {
    table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 12px; /* Espacio entre celdas */
	margin: 20px auto;
  }
  
  .cv-table td {
	border: 3px solid #4a90e2; /*color de los limites de las celdas */
	border-radius: 10px;
	padding: 15x;
	vertical-align: top;
	background-color: silver;   /*color del fondo dentro de las celdas*/
	box-shadow: 0 2px 4px black (0,0,0,0.05); 
}
  .main-wrapper {
	background-color: #943126;   /*color del fono*/
	min-height: 100vh;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
  }
  
  body {
	color: black; /*cambiar el color de letra global*/
  }
  

  h1, h2, h3, h4, p, li, td, th, .percentage {
	color: black;/* Cambia el color de los encabezados y párrafos */
  }
